<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-text-center">
    <img src="../../assets/logo/logo-lien-commerce.png" />
  </div>
  <div class="container ion-text-center">
    <strong class="capitalize">Welcome</strong>
    <p>Management application for product</p>
  </div>
</ion-content>