<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [readonly]="true" [(ngModel)]="product.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SKU</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.sku" name="sku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">EAN13</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.ean13" name="ean13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ASIN</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.asin" name="asin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ISBN</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.isbn" name="isbn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price(€)</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.price" name="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input [readonly]="true" [ngModel]="product.stock" name="stock"></ion-input>
    </ion-item>
    
</ion-content>