<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">close</ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate?'Update':'Add'}} Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="data.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SKU</ion-label>
      <ion-input [(ngModel)]="data.sku" name="sku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">EAN13</ion-label>
      <ion-input [(ngModel)]="data.ean13" name="ean13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ASIN</ion-label>
      <ion-input [(ngModel)]="data.asin" name="asin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ISBN</ion-label>
      <ion-input [(ngModel)]="data.isbn" name="isbn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price(€)</ion-label>
      <ion-input [(ngModel)]="data.price" name="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input [(ngModel)]="data.stock" name="stock"></ion-input>
    </ion-item>
    <ion-button
      fill="outline"
      expand="block"
      color="primaty"
      class="ion-margin-top"
      type="submit"
      >{{isUpdate ? 'Update':'Save'}}</ion-button
    >
  </form>
</ion-content>
